#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
    background-image: url(https://media.istockphoto.com/id/1422642328/photo/white-concrete-texture-polished-wall-background-grey-retro-plain-color-cement-crack-have-sand.jpg?s=2048x2048&w=is&k=20&c=LVoo_6weJpLy5kfcZNCjum1U3tXVuBB7kdNNWiV4iVI=);  
  }

  .card {
    padding: 2em;
    background-image: url(https://media.istockphoto.com/id/1422642328/photo/white-concrete-texture-polished-wall-background-grey-retro-plain-color-cement-crack-have-sand.jpg?s=2048x2048&w=is&k=20&c=LVoo_6weJpLy5kfcZNCjum1U3tXVuBB7kdNNWiV4iVI=); 
  }

  

  

 
  
